body {
    font-family: Arial, sans-serif;
    color: #201c7e;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: rgb(172, 198, 246);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h1, .container h2 {
    text-align: center;
}

.menu-section {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid darkblue;
    border-radius: 5px;
    text-align: center;
}

.order-section {
    margin-top: 30px;
    padding: 15px;
    border: 2px solid darkblue;
    border-radius: 5px;
    text-align: center;
}

select {
    font-size: 16px;
    padding: 5px;
    width: 16%
}
.order-summary {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid darkblue;
    border-radius: 5px;
    text-align: center; 
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgb(44, 97, 205) ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 16%;
}

button:hover {
    background-color: rgb(18, 41, 87);
}

#clearBtn {
    background-color:  rgb(38, 59, 98) ;
}
#clearBtn:hover {
    background-color: rgb(10, 24, 51);
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid darkblue;
}